/* Video Background */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Ensure the video covers the entire screen */
  z-index: -10;
}

/* Container styling */
.display-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
}

/* Attendee name styling */
.attendee-name {
  font-weight: bold;
  z-index: 10;
  animation: fadeInOut 5000ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add text shadow */
  white-space: nowrap; /* Prevent text from wrapping */
  padding: 10px;
  /* Make font size responsive based on viewport width */
  font-size: 10vw; /* 10% of the viewport width */
}

/* Large screens: Larger font size */
@media (min-width: 1200px) {
  .attendee-name {
    font-size: 4.5rem; /* Large fixed size for large screens */
  }
}

/* Medium screens: Medium font size */
@media (max-width: 1199px) and (min-width: 768px) {
  .attendee-name {
    font-size: 6vw; /* Use vw for medium-sized screens */
  }
}

/* Small screens: Smaller font size */
@media (max-width: 767px) {
  .attendee-name {
    font-size: 8vw; /* Use vw for small screens */
  }
}

/* Extra small screens: Even smaller font size */
@media (max-width: 480px) {
  .attendee-name {
    font-size: 10vw; /* Larger percentage of the viewport width for very small screens */
  }
}

/* Empty view image */
.empty-view {
  width: 50%;
  max-width: 100%;
  z-index: 10;
}

/* Animation */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  10% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
