.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.cover-image {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s ease-in-out;
  z-index: 15;
}

.left-image {
  left: 0;
  transform: translateX(0); /* Initial position */
}

.right-image {
  right: 0;
  transform: translateX(0); /* Initial position */
}

.slide-out.left-image {
  transform: translateX(-100%); /* Slide left out of view */
}

.slide-out.right-image {
  transform: translateX(100%); /* Slide right out of view */
}

.modal-name {
  color: white;
  font-size: 4vw;
  text-align: center;
  font-weight: bold;
  animation: fade 2s ease-in-out;
  z-index: 13; /* Above cover images */
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
