.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 13;
}

.confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 15; /* Ensure it’s above the modal background */
}

.top-image {
  position: absolute;
  top: 7%;
  max-width: 25em; /* Adjust size as needed */
  z-index: 16;
}

.bottom-left-image {
  transform: rotate(15deg);
  position: absolute;
  bottom: -6% !important; /* Maintain specific bottom positioning */
  left: 0% !important; /* Maintain specific left positioning */
  width: 200px; /* Set a fixed size to maintain consistency */
  height: auto; /* Maintain aspect ratio */
  z-index: 16;
}

.bottom-right-image {
  transform: rotate(-10deg);
  position: absolute;
  bottom: -8% !important; /* Maintain specific bottom positioning */
  right: 0% !important; /* Maintain specific right positioning */
  width: 200px; /* Set a fixed size to maintain consistency */
  height: auto; /* Maintain aspect ratio */
  z-index: 16;
}

/* Responsive styles for modal-title */
.modal-title {
  font-weight: bold;
  position: absolute;
  top: 31%; /* Adjust to avoid overlap with top image */
  text-align: center;
  animation: fade 1s ease-in-out;
  color: rgb(130, 217, 0);
  font-size: 8vw; /* Default for very small screens */
}

/* Large screens */
@media (min-width: 1200px) {
  .modal-title {
    font-size: 3rem; /* Fixed size for large screens */
  }
}

/* Medium screens */
@media (max-width: 1199px) and (min-width: 768px) {
  .modal-title {
    font-size: 4vw; /* Use vw for medium-sized screens */
  }
}

/* Small screens */
@media (max-width: 767px) {
  .modal-title {
    font-size: 6vw; /* Use vw for small screens */
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .modal-title {
    font-size: 8vw; /* Use vw for very small screens */
  }
}

.modal-name {
  font-weight: bold;
  z-index: 4;
  animation: fade 1.3s ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 10px;
  line-height: 1.1em;
  font-size: 10vw; /* 10% of the viewport width */
  text-align: center !important;
}

/* Responsive styles for modal-name */
@media (min-width: 1200px) {
  .modal-name {
    font-size: 4.5rem; /* Fixed size for large screens */
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .modal-name {
    font-size: 6vw; /* Use vw for medium-sized screens */
  }
}

@media (max-width: 767px) {
  .modal-name {
    font-size: 8vw; /* Use vw for small screens */
  }
}

@media (max-width: 480px) {
  .modal-name {
    font-size: 10vw; /* Larger percentage of the viewport width for very small screens */
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
