.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.98);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 13;
}

.confetti-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 15; /* Ensure it’s above the modal background */
}

.modal-title {
  color: white;
  font-size: 3vw;
  position: absolute;
  top: 20%;
  font-weight: bold;
  text-align: center;
  animation: fade 1s ease-in-out;
  color: rgb(130, 217, 0);
}

.modal-name {
  position: relative;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Add text shadow */
  font-size: 5vw;
  text-align: center;
  font-weight: bolder;
  animation: fade 1.3s ease-in-out;
  z-index: 13; /* Above cover images */
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
